.main,
.css-1avcm0n,
.css-1i2wz1k {
  background-color: #DFDFDF;
}

p {
  /* color: black; */
}


.css-nahz7x,
.e16nr0p30,
.css-q8sbsg,
.e1fb0mya1,
.css-7oyrr6,
.e1fb0mya1,
.css-1avcm0n,
.e1fb0mya1,
.css-9ycgxx,
.uploadedFileName {
  color: black;
}

.css-6qob1r,
.css-e370rw,
.css-erpbzb {
  background-color: #48BF91;
  /* padding: 20px;
    border-radius: 10px; */
}

.css-1a359ur,
.css-b3z5c9 {
  background-color: #48BF91;
}

.css-1a359ur {
  border: 0 none;
  /* border-bottom: 1px solid #0076BE; */
  border-radius: 0;
  color: #DFDFDF;
  justify-content: start;
  padding-left: 30px;
}

.css-1a359ur:hover,
.css-1a359ur:active {
  background-color: #0076BE;
  border-color: #0076BE;
  color: #FFFFFF;
}

.css-x78sv8 p {
  font-size: 20px;
}

.css-z8f339 {
  background-color: #DFDFDF;
  border: 3px #48BF91 solid;
  border-radius: 10px;
}

.css-b3z5c9:hover,
.css-b3z5c9:active {
  border-color: #DFDFDF;
  color: #DFDFDF;
}

.css-b3z5c9:active {
  background-color: #0076BE;
  border-color: #DFDFDF;
  color: #DFDFDF;
}

.css-ffhzg2 {
  background: #DFDFDF;
}

/* 
.e1tzin5v2 {
    width: 500px
} */

.css-1544g2n {
  padding: 6rem 0 1.5rem;
}

label {
  display: none !important;
}

.css-1xh0qcp {
  border: 1px solid black !important;
  border-radius: 8px !important;
  padding: 10px !important;
}