.main,
.css-1avcm0n {
    background-color: #DFDFDF;
}

.e16nr0p30, 
.css-q8sbsg,
.uploadedFileName  {
    color: black;
}

.css-6qob1r,
.css-erpbzb {
    background-color: #48BF91;
    /* padding: 20px;
    border-radius: 10px; */
}

.css-1a359ur,
.css-b3z5c9 {
    background-color: #0076BE;
}

.css-z8f339 {
    background-color: #48BF91;
}

.e1fb0mya1 {
    color: white;
}